.cntainer {
  background: #FFF;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
  border-radius: 8px;
  h1 {
    font-family: Arial, sans-serif !important;
    font-weight: 400;
  }
}

.workouts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.workout {
  width: 50rem;
  height: 36rem;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
  margin: 20px 0;

  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center */
  align-items: center;

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity .2s ease-out;
  }

  .workout-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.3) 10%, hsl(0, 0%, 0%) 100%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.4s ease-out;
    transform: translateY(50%);
  }

  h2 {
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    transition: none; /* No animation needed for h2 itself */
    z-index: 1;
  }

  p {
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 300;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    margin-top: 10px;
    text-align: center;
    max-width: 100%;
  }

  &:hover .workout-content {
    transform: translateY(0); /* Slide content up on hover */
  }

  &:hover p {
    opacity: 1; /* Fade in the paragraph */
  }
}
