<div class="workouts-container">
  <h1>Select a Muscle Group</h1>
  <div class="muscle-groups">
    <% @muscle_groups.each do |muscle_group| %>
        <div class="muscle-group">
          <%= link_to muscle_group_path(muscle_group) do %>
            <%= image_tag muscle_group.img_url, alt: muscle_group.name, class: 'muscle-group-img' %>
          <% end %>
          <div class="muscle-body">
            <h2><%= muscle_group.name %></h2>
          </div>
        </div>
    <% end %>
  </div>
</div>
